<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h5>Email: <%= email %></h5>
<p>Password: <%= password %></p>
<a href='/'>Вернуться на главную</a>
</body>
</html>